h1{
	
	color: #0F3;
	font-size: 120px;
	text-align: center;
}
h2{
	
	color: #0F3;
	font-size: 40px;
	text-align: center;
}
#huba{
	
	font-size: 20px;
	color: white;
	text-align: center;
}
#when-i-leave-school{
	
	font-size: 20px;
	color: white;
	text-align: center;
}
body{
	
	background-color: black;
}
#music{
	
	color: white;
	font-size: 20px;
	text-align: center;
}
#brans-profile-pic{
	
	margin-left: 600px;
}
#div1{
	float: left;
	width: 300px;
	
	
	
	
	
}
#div2{
	
	float: left;
	width: 300px;
	margin-left: 300px;
	
	
	
}
#div3{
	
	float: left;
	width: 300px;
	margin-left: 300px;
	
	
	
	
	
}


#Copyright{
	
	color: white;
	text-align: center:
	
	}