#Hobbies{
	
	color: white;
	width: 300px;
	float: left;
	margin-left: 10px;
	
	}
	
#What_i_want_to_be{
	
	color: white;
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
	
	}
body{
	
	background-color: black;
	
	}
	
#BLAH{
	
	color: white;
	
	}
	
#Img{
	
	float: left;
	
	}
	
#Hobbies_2{
	
	color: white;
	
	}
	
#Copyright{
	
	background-color: white;
	padding: 10px;
	text-align: center;
	
	}