h1{
	
font-size:35px;	
font-style:italic;
font-weight:bold;
color:cyan;
background-color:#333;
	
}

body{
	
background:black;	
	
}

p{
	
color:#58FAF4;
font-weight:bold;
font-size:18px;	
	
}

h2{
	
color:#58FAF4;
font-size:27px;
font-weight:bold;
font-style:italic;
background-color:#333;	
	
}

ul{
	
color:black;
font-weight:bold;
font-style:italic;
font-size:20px;
background-color:#58FAF4;	
	
}

#hobbies{
	
text-align:left;
float:left;
width:300px;
margin-right:35px;
	
}

#whatiwanttobe{
	
text-align:left;
float:left;
width:300px;
margin:35px;	

}

#stuff{
	
text-align:left;
float:left;
width:300px;	
	
}

#me{
	
text-align:left;	
float:left;
width:300px;

}
