@charset "UTF-8";
/* CSS Document */

#tahlia-awesome{
	
	width: 1000px;
	margin: 0 auto;
	
}

#image1{
	width: 500px;
	float: left;
	padding-left: 10px;	
 
 }
 
#p{
	font-size: 12px;

	
}

h2{
	width: 100px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	
	
}

h1{
	width: 200px;
	background-color: #000;
	color: #FFF;
	text-align: center;
	margin: 10px;
	
}
	

#box1{
	float: left;
	width: 300px;
	
}

#box2{
	margin-left: 10px;
	margin-right: 10px;
	width: 300px;
	float: left;
	
}

#box3{
	margin-left: 20px;
	margin-right: 20px;
	width: 300px;
	float: left;
}

#footer{

	padding: 10px 0;
	background-color: #000;
	color: #FFF;
	text-align: center;
		   
}


body{
	background-color: #96F;
	
}
	   
	
	

 
	

